/* Grid */
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1604px;
    display: flex;
    flex-wrap: wrap;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column, .columns {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    box-sizing: border-box
}

.columns:before, .columns:after {
    content: " ";
    display: table;
}

@media screen and (max-width: $medium) {
    .columns {
        padding: 0 10px;
    }
}

.large-1 {
    position: relative;
    width: 8.33333%;
}

.large-2 {
    position: relative;
    width: 16.66667%;
}

.large-3 {
    position: relative;
    width: 25%;
}

.large-4 {
    position: relative;
    width: 33.33333%;
}

.large-5 {
    position: relative;
    width: 41.66667%;
}

.large-6 {
    position: relative;
    width: 50%;
}

.large-7 {
    position: relative;
    width: 58.33333%;
}

.large-8 {
    position: relative;
    width: 66.66667%;
}

.large-9 {
    position: relative;
    width: 75%;
}

.large-10 {
    position: relative;
    width: 83.33333%;
}

.large-11 {
    position: relative;
    width: 91.66667%;
}

.large-12 {
    position: relative;
    width: 100%;
}

@media screen and (max-width: $medium) {
    .medium-1 {
        width: 8.33%;
    }

    .medium-2 {
        width: 16.66%;
    }

    .medium-3 {
        width: 25%;
    }

    .medium-4 {
        width: 33.33%;
    }

    .medium-5 {
        width: 41.66%;
    }

    .medium-6 {
        width: 50%;
    }

    .medium-7 {
        width: 58.33%;
    }

    .medium-8 {
        width: 66.66%;
    }

    .medium-9 {
        width: 75%;
    }

    .medium-10 {
        width: 83.33%;
    }

    .medium-11 {
        width: 91.66%;
    }

    .medium-12 {
        width: 100%;
    }
}

@media screen and (max-width: $mini) {
    .small-1 {
        width:8.33%;
    }

    .small-2 {
        width: 16.66%;
    }

    .small-3 {
        width: 25%;
    }

    .small-4 {
        width: 33.33%;
    }

    .small-5 {
        width: 41.66%;
    }

    .small-6 {
        width: 50%;
    }

    .small-7 {
        width: 58.33%;
    }

    .small-8 {
        width: 66.66%;
    }

    .small-9 {
        width: 75%;
    }

    .small-10 {
        width: 83.33%;
    }

    .small-11 {
        width: 91.66%;
    }

    .small-12 {
        width: 100%;
    }
}